{#<!DOCTYPE html>#}
{#<html lang="en">#}
{##}
{#<body>#}
{##}
{#<div>#}
{#    <h3><strong> Order #{{ id }} </strong></h3>#}
{#    <h3>Date of order : {{ created_at }} </h3>#}
{#</div>#}
{#<div>#}
{#    <h3>Products: </h3>#}
{#    {% for item in items %}#}
{#        <ol>Name: {{ item.contents.product_variant.product.name }} Size:{{ item.contents.product_variant.variant.size }}Quantity: {{ item.quantity }} Price: {{ item.total_price }}</ol>#}
{##}
{#    {% endfor %}#}
{#    {{ paid_amount }}#}
{#</div>#}
{#</body>#}
{#</html>#}

<html>
<div class="box mb-4">
    <h3 class="is-size-4 mb-2">Order #{{ id }} </h3>
    <h3 class="is-size-6 mb-6">Date of order : {{ created_at }} </h3>

     <tbody>

    <ol>
        <h4 class="is-size-5">Products:</h4>
        {% for item in items %}
            <li>{{ item.contents.product_variant.product.name }}/
                {{ item.contents.product_variant.variant.size }}/
                {% for topping in item.contents.toppings %}
                    {{ topping.name }}/
                {% endfor %}
                {% for sauce in item.contents.sauces %}
                    {{ sauce.name }}/
                {% endfor %}
                qnty: {{ item.quantity }}/
                price: {{ item.total_price }} PLN
            </li>
        {% endfor %}
    </ol>
    </tbody>

    <tfoot>
        <strong>Total amount: {{ paid_amount }} PLN</strong>
    </tfoot>

</div>
</html>


