<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <title>Order Pizza Online</title>
    </head>
    <body>
    <div class="box mb-1">
        <h3 class="is-size-4 is-centered" >Confirmation of your order no: #{{ id }}</h3>
        <h4 class="is-size-6">Date of order : {{ created_at }} </h4>
        <ol>
            <h4 class="is-size-4 ">Products:</h4>
            {% for item in items %}
                <li>
                    {{ item.contents.product_variant.product.name }}/
                    {{ item.contents.product_variant.variant.size }}/
                    {% for topping in item.contents.toppings %}
                        {{ topping.name }}/
                    {% endfor %}
                    {% for sauce in item.contents.sauces %}
                        {{ sauce.name }}/
                    {% endfor %}
                    qnty: {{ item.quantity }}/
                    price: {{ item.total_price }} PLN
                </li>
            {% endfor %}
        </ol>
        <h4 class="is-size-4 mb-1"> Total amount: {{ paid_amount }} PLN</h4>
    </div>
    </body>
</html>


